@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border-bottom: 2px solid blueviolet;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0 50px;
  justify-content: space-between;
}

.header__logo {
  width: auto;
  align-self: center;
  font-size: 1.2em;
  font-weight: 600;
  color: blueviolet;
}

.header__links {
  align-self: center;
  margin-right: 30px;
}

.header__links .link {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  transition: .3s;
}

.contact {
  color: #fff;
  background-color: blueviolet;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0 10px;
  text-decoration: none;
}

.contact:hover {
  color: blueviolet;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid blueviolet;
}

.header__links > a:hover {
  color: blueviolet;
  transition: .3s;
}

/* Main Section */
.main {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 75%;
  height: 600px;
}

.img-box {
  height: 100%;
  padding: 30px;
}

.img {
  width: 100%;
  height: 100%;
}

.texts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, auto);
  padding: 80px 30px;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.texts__header {
  display: flex;
  grid-column: 1/5;
  grid-row: 1/2;
  justify-content: center;
}

.texts__title {
  font-size: 1.8em;
  font-weight: 600;
  align-self: center;
}

.texts__body {
  display: flex;
  grid-column: 1/5;
  grid-row: 2/4;
  text-align: center;
}

.texts__body .paragraph {
  align-self: center;
  font-size: 1.5em;
}

.texts__button {
  grid-column: 1/5;
  grid-row: 4/5;
  text-align: center;
}

.texts__button .btn {
  padding: 20px 60px;
  background-color: blueviolet;
  border-radius: 10px;
  color: #fff;
  border: none;
  transition: .3s;
  cursor: pointer;
}

.texts__button .btn:hover {
  background-color: rgb(107, 17, 190);
  transition: .3s;
}

/* Footer */
.footer {
  width: 100%;
  height: 60px;
  padding: 10px 50px;
  text-align: center;
}

.footer__name {
  width: auto;
  height: 100%;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(177, 177, 177);
}
